<?xml version="1.0"?>
<!--
/**
 * Copyright © element119. All rights reserved.
 * See LICENCE.txt for licence details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Magento_Backend::tools">
                        <resource id="Element119_AdminOpCacheReport::menu"
                                  title="PHP OpCache Report"
                                  translate="title"
                                  sortOrder="1100">
                            <resource id="Element119_AdminOpCacheReport::view"
                                      title="PHP OpCache Report View"
                                      translate="title"
                                      sortOrder="10"/>
                            <resource id="Element119_AdminOpCacheReport::flush"
                                      title="Flush PHP OpCache"
                                      translate="title"
                                      sortOrder="20"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
