<?xml version="1.0"?>
<!--
/**
 * Copyright © element119. All rights reserved.
 * See LICENCE.txt for licence details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <opcache_report>
                <memory_units>3</memory_units>
                <float_precision>2</float_precision>
                <date_format>dS M Y H:i:s e</date_format>
                <cron_enable>0</cron_enable>
                <cron_schedule>0 * * * *</cron_schedule>
                <log_truncate_days>28</log_truncate_days>
                <include_raw_script_data>0</include_raw_script_data>
                <include_module_script_data>1</include_module_script_data>
            </opcache_report>
        </system>
    </default>
</config>
