<?xml version="1.0"?>
<!--
/**
 * Copyright © element119. All rights reserved.
 * See LICENCE.txt for licence details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="opcache_report"
                   translate="label"
                   type="text"
                   sortOrder="1200"
                   showInDefault="1"
                   showInWebsite="0"
                   showInStore="0">
                <label>PHP OpCache Report</label>
                <field id="memory_units"
                       translate="label comment"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>OpCache Report Memory Units</label>
                    <comment>Report OpCache memory data in terms of these memory units.</comment>
                    <source_model>Element119\AdminOpCacheReport\Model\Config\Source\MemoryUnits</source_model>
                </field>
                <field id="float_precision"
                       translate="label comment"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>OpCache Report Float Precision</label>
                    <comment>The number of decimal places to use when reporting decimal values.</comment>
                    <validate>integer validate-digits validate-zero-or-greater</validate>
                </field>
                <field id="date_format"
                       translate="label comment"
                       type="text"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>OpCache Report Date Format</label>
                    <comment>
                        <![CDATA[
                            <a href="https://www.php.net/manual/en/datetime.format.php" target="_blank">
                                Formatting help.
                            </a>
                        ]]>
                    </comment>
                </field>
                <field id="cron_enable"
                       translate="label"
                       type="select"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>Collect OpCache Report Data Periodically</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_schedule"
                       translate="label"
                       type="text"
                       sortOrder="50"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>OpCache Data Collection Schedule</label>
                    <depends>
                        <field id="system/opcache_report/cron_enable">1</field>
                    </depends>
                </field>
                <field id="log_truncate_days"
                       translate="label comment"
                       type="text"
                       sortOrder="60"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>Number of Days to Keep Historic OpCache Report Data</label>
                    <comment>Absence of a value means historic report data will not be deleted.</comment>
                    <validate>integer validate-digits validate-not-negative-number</validate>
                    <depends>
                        <field id="system/opcache_report/cron_enable">1</field>
                    </depends>
                </field>
                <field id="include_raw_script_data"
                       translate="label"
                       type="select"
                       sortOrder="70"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>Include Raw OpCache Script Data in Historic Reports?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="system/opcache_report/cron_enable">1</field>
                    </depends>
                </field>
                <field id="include_module_script_data"
                       translate="label"
                       type="select"
                       sortOrder="80"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>Include Module-Level OpCache Script Data in Historic Reports?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="system/opcache_report/cron_enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
